OpenEXR
bidict
cloudml-hypertune
dataclasses
google-cloud-storage
hypothesis
mathutils
munch
numpy
pandas
Pillow
pybullet
pytest
scikit-learn
traitlets
trimesh
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability