OpenEXR
bidict
cloudml-hypertune
dataclasses
google-cloud-storage
hypothesis
mathutils
munch
numpy
pandas
Pillow
pybullet
pytest
scikit-learn
traitlets
trimesh
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability