OpenEXR
bidict
cloudml-hypertune
dataclasses
google-cloud-storage
hypothesis
mathutils
munch
numpy
pandas
Pillow
pybullet
pytest
scikit-learn
traitlets
trimesh
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability